.img-profile{
  width: auto;
  height: auto;
  background-color: #fff;
  border-radius: 0.4rem;
  max-width: 100%;
  height: auto;
  object-fit: cover;

}

.img-container{
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  border: 1px solid rgb(120, 194, 173, 0.2);
  margin-right: auto;
  margin-left: 35px;
  z-index: 2;
}

.btn-group-interactions {
  width: 50%;
  margin-left: 58px;
  margin-right: auto;
}

.btn-like {
  color:#F3969A;
  padding: 0px;
  margin:5px;
}

.btn-message {
  color:rgb(86, 176, 255);
  padding: 0px;
  margin:5px;
}

.btn-star {
  color:rgb(255, 181, 124);
  padding: 0px;
  margin:5px;
}

.member-icon{
  font-size: 1.5em;
}

.main-card {
  border: none;
  background-color: rgb(236, 246, 243);
  border-radius: inherit;
}

.card-title {
  color: #5a5a5a;
}

.card-footer {
  background-color: #FFFFFF;
}

.info-body{
  padding: 90px 25px 0px 25px;
  background-color: rgb(236, 236, 236);
  margin-top: -85px;
}

.info-footer{
  padding: 10px 0px 0px 0px;
  border-top: none;
}
