.img-profile{
  width: auto;
  height: auto;
  background-color: #fff;
  border-radius: 0.4rem;
  max-width: 100%;
  height: auto;
  object-fit: cover;

}

.img-container{
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  box-shadow: -1px 1px 5px 3px #DDDDDD;
  margin-right: auto;
  margin-left: 35px;
  z-index: 2;
}

.btn-group-interactions {
  width: 35%;;
  margin-left: 15px;
  margin-right: auto;
}

.btn-interaction{
  margin-left: 2px;
  margin-right: 2px;
  transform: scale(1.0, 1.0);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}

.btn-interaction:hover
{
  transform: scale(1.2, 1.2);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  opacity: 0.7;
}

.btn-like {
  color:#F3969A;
  padding: 0px;
}

.btn-message {
  color:rgb(86, 176, 255);
  padding: 0px;
}

.btn-share {
  color:rgb(252, 169, 68);
  padding: 0px;
}

.member-icon{
  font-size: 1.5em;
}

.main-card {
  border: none;
  background-color: rgb(218, 242, 234);
  border-radius: inherit;
}

.card-title {
  color: #5a5a5a;
}

.card-footer {
  background-color: #FFFFFF;
}

.info-body{
  padding: 90px 25px 0px 25px;
  background-color: rgb(229, 224, 224);
  margin-top: -85px;
}

.info-footer{
  padding: 10px 0px 0px 0px;
  border-top: none;
}
