.img-profile{
  width: auto;
  height: auto;
  background-color: #fff;
  border-radius: 0.4rem;
  max-width: 100%;
  height: auto;
  object-fit: cover;

}

.img-container{
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  border: 1px solid rgb(120, 194, 173, 0.2);
  margin-right: auto;
  margin-left: 35px;
  z-index: 2;
}

.btn-like{
  border-radius: inherit;
}

.btn-message{
  border-radius: inherit;
}

.main-card {
  border: none;
  background-color: rgb(236, 246, 243);
  border-radius: inherit;
}

.card-title {
  color: #5a5a5a;
}

.btn-save {
  border-radius: 0.2rem;
}

.info-body{
  padding: 90px 25px 0px 25px;
  background-color: rgb(236, 236, 236);
  margin-top: -85px;
}

.info-footer{
  padding: 10px 0px 0px 0px;
  border-top: none;
  background-color: #FFFFFF;
}
