.img-profile{
  width: auto;
  height: auto;
  background-color: #fff;
  border-radius: 0.4rem;
  max-width: 100%;
  height: auto;
  object-fit: cover;

}

.img-container{
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  box-shadow: -1px 1px 5px 3px #DDDDDD;
  margin-right: auto;
  margin-left: 35px;
  z-index: 2;
}

.main-card {
  border: none;
  background-color: rgb(218, 242, 234);
  border-radius: inherit;
}

.card-title {
  color: #5a5a5a;
}

.btn-save {
  border-radius: 0.2rem;
}

.info-body{
  padding: 90px 25px 0px 25px;
  background-color: rgb(229, 224, 224);
  margin-top: -85px;
}

.info-footer{
  padding: 10px 0px 0px 0px;
  border-top: none;
  background-color: #FFFFFF;
}
